docker {
  enabled = true
  runOptions = '-v /var/run/docker.sock:/var/run/docker.sock'
}

manifest {
  name = 'Sage-Bionetworks-Challenges/nf-synapse-challenge'
  author = 'Thomas Yu'
  homePage = 'https://github.com/Sage-Bionetworks-Challenges/nf-synapse-challenge'
  description = 'Nextflow Monorepo for Challenges hosted on Synapse'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.04.0'
  version = '0.0.1'
  defaultBranch = 'main'
}

process {
  errorStrategy = 'retry'
  maxRetries = 3
}

profiles {
	tower {
    process {
      withName: RUN_DOCKER {
        memory = 32.GB
        cpus = 8
      }
      withLabel: flexible_compute {
        cpus = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
  } 
    }
  }
  local {
    process {
      withName: RUN_DOCKER {
        memory = 16.GB
        cpus = 4
      }
    }
  }
}

aws.batch.volumes = [ '/var/run/docker.sock:/var/run/docker.sock', '/tmp:/tmp' ]
